[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-box{
	width: 54px;
	height: 60px;
	background: url(../img/icons/box.png) no-repeat center center;
}

.icon-calculate{
	width: 11px;
	height: 15px;
	background: url(../img/icons/calculate.png) no-repeat center center;
}

.icon-calculate-white{
	width: 19px;
	height: 23px;
	background: url(../img/icons/calculate-white.png) no-repeat center center;
}

.icon-gears{
	width: 64px;
	height: 64px;
	background: url(../img/icons/gears.png) no-repeat center center;
}

.icon-medal{
	width: 52px;
	height: 69px;
	background: url(../img/icons/medal.png) no-repeat center center;
}

.icon-plan{
	width: 62px;
	height: 64px;
	background: url(../img/icons/plan.png) no-repeat center center;
}

.icon-user{
	width: 13px;
	height: 15px;
	background: url(../img/icons/user.png) no-repeat center center;
}

.icon-user-white{
	width: 20px;
	height: 24px;
	background: url(../img/icons/user-white.png) no-repeat center center;
}

.icon-location{
	width: 29px;
	height: 45px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-phone{
	width: 41px;
	height: 41px;
	background: url(../img/icons/phone.png) no-repeat center center;
}

.icon-clock{
	width: 45px;
	height: 45px;
	background: url(../img/icons/clock.png) no-repeat center center;
}

.icon-mute{
	width: 36px;
	height: 32px;
	background: url(../img/icons/mute.png) no-repeat center center;
}

.icon-cube{
	width: 36px;
	height: 36px;
	background: url(../img/icons/cube.png) no-repeat center center;
}

.icon-sandclock{
	width: 28px;
	height: 32px;
	background: url(../img/icons/sandclock.png) no-repeat center center;
}

.icon-feather{
	width: 36px;
	height: 24px;
	background: url(../img/icons/feather.png) no-repeat center center;
}