[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-box{
	width: 54px;
	height: 60px;
	background: url(../img/icons/box.png) no-repeat center center;
}

.icon-calculate{
	width: 11px;
	height: 15px;
	background: url(../img/icons/calculate.png) no-repeat center center;
}

.icon-gears{
	width: 64px;
	height: 64px;
	background: url(../img/icons/gears.png) no-repeat center center;
}

.icon-medal{
	width: 52px;
	height: 69px;
	background: url(../img/icons/medal.png) no-repeat center center;
}

.icon-plan{
	width: 62px;
	height: 64px;
	background: url(../img/icons/plan.png) no-repeat center center;
}

.icon-user{
	width: 13px;
	height: 15px;
	background: url(../img/icons/user.png) no-repeat center center;
}