.footer{
	border-top: 3px solid $primary;
	background: #fff;
	padding: 20px 0 40px;
	box-shadow: 0 6px 15px rgba(#000, .1);
	z-index: 100;
	position: relative;

	.footer-inner{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		align-items: flex-end;
		justify-content: space-between;

		> .footer-block{
			padding: 0 15px;
		}
	}

	.footer-info-list{
		display: flex;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		align-items: center;
		justify-content: space-between;
		min-width: 580px;

		li{
			padding: 0 15px;
			font-size: 13px;
			line-height: 20px;

			a{
				color: $text-color;
				text-decoration: none;

				&[href*='mailto:']{
					text-decoration: underline;
				}

				&:hover{
					color: $accent;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.footer-inner{
			flex-direction: column;
			align-items: center;
		}

		.footer-info-list{
			min-width: none;
			flex-direction: column;
			align-items: center;
			margin: 30px -15px;
			padding: 30px 15px;
			border-top: 1px solid #e8ebee;
			border-bottom: 1px solid #e8ebee;

			li{
				margin-bottom: 20px;
				text-align: center;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.webolution{
	display: flex;
	transition: all $t;
	align-items: flex-start;

	&:hover{
		opacity: .8;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}