$section-padding: 80px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0;
}

html{
	font-size: 15px;
	line-height: 24px;
}

body{
	color: $text-color;
	font-family: $main-font;
	background: $body-bg;
	max-width: 100vw;
	overflow-x: hidden;
}

.clearfix{
	overflow: auto;

	&:after{
		content: "";
		clear: both;
		display: table;
	}
}

a, button{
	text-decoration: none;
	transition: all $t;
	outline: none !important;
	border: none;
}

a img{
	outline: none !important;
	border: none !important;
}

ul,
ol{
	list-style: none;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 183px;

	.page{
		flex: auto;
	}

	.footer{
		flex: none;
	}

	.post-content{
		padding-bottom: 80px;
	}
}

.section-default-top-padding{
	padding-top: $section-padding;
}

.section-default-bottom-padding{
	padding-bottom: $section-padding;
}

.section-default-paddings{
	padding: $section-padding 0;
}

@media screen and (max-width: 767px){
	.scrollable-container{
		.scrollable-container-inner{
			width: 100%;
			overflow: auto;
		}
	}
}

.modal{
	.modal-content{
		.modal-body{
			padding: 30px 35px 50px;
		}
	}

	.modal-dialog{
		margin-top: 60px;

		@media screen and (max-width: 575px){
			width: calc(100% - 30px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.modal-close{
		position: absolute;
		right: -22px;
		top: -22px;
		z-index: 5;
		border-radius: 50%;
		cursor: pointer;

		i{
			display: block;
			cursor: pointer;
		}
	}

	&.narrow{
		.modal-dialog{
			max-width: 340px;
		}
	}
}

.cards-list{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -30px;

	> .item{
		padding: 0 15px;
		margin-bottom: 30px;
	}

	&.small-margins{
		margin-bottom: -10px;

		> .item{
			margin-bottom: 10px;
		}
	}

	&.columns-4{
		> .item{
			width: 25%;
		}
	}

	&.columns-3{
		> .item{
			width: 33.3333%;
		}
	}

	&.columns-2{
		> .item{
			width: 50%;
		}
	}

	@media screen and (max-width: 1199px){
		&.lg-columns-3{
			> .item{
				width: 33.333%;
			}
		}

		&.lg-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.lg-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 991px){
		&.md-columns-3{
			> .item{
				width: 33.333%;
			}
		}

		&.md-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.md-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 767px){
		&.sm-columns-2{
			> .item{
				width: 50%;
			}
		}

		&.sm-columns-1{
			> .item{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 575px){
		&.xs-columns-1{
			> .item{
				width: 100%;
			}
		}
	}
}

.section-caption{
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	padding-bottom: 20px;

	&:after{
		content: '';
		display: block;
		width: 60px;
		height: 2px;
		background: $primary;
		position: absolute;
		left: calc(50% - 30px);
		bottom: 0;
	}

	&.left-aligned{
		text-align: left;

		&:after{
			left: 0px;
		}

		.sc-title{
			margin-left: -2px;
		}
	}

	&.no-line{
		&:after{
			display: none;
		}
	}

	&.no-margin{
		margin-bottom: 0;
	}
}

.pretty-image{
	position: relative;
	padding-right: 58px;
	padding-bottom: 30px;
	display: inline-flex;
	align-items: flex-start;
	background: $body-bg;

	&.alignleft{
		float: left;
		margin-right: 30px;
	}

	&.alignright{
		float: right;
		margin-left: 30px;
	}

	.lines{
		position: relative;
		width: 32px;
		height: calc(100% - 16px - 30px);
		background: url(../img/backgrounds/lines-bg.png);
		position: absolute;
		right: 0;
		top: 0;

		&:before{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 31px 31px;
			border-color: transparent transparent $body-bg transparent;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&:after{
		content: '';
		display: block;
		width: 189px;
		height: 9px;
		background: url(../img/backgrounds/gray-plus-bg.png);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
		border-bottom: 16px solid $primary;
	}

	@media screen and (max-width: 991px){
		padding-right: 30px;
		padding-bottom: 0;
		width: 100%;
		max-width: 240px;
		margin-bottom: 30px;

		.lines{
			width: 15px;
			height: calc(100% - 16px);

			&:before{
				border-width: 0 0 13px 13px;
			}
		}

		&:after{
			display: none;
		}
	}

	@media screen and (max-width: 767px){
		margin-bottom: 30px;
	}

	@media screen and (max-width: 575px){
		max-width: none;
		width: auto;

		&.alignleft,
		&.alignright{
			float: none;
			margin-right: 0;
		}
	}
}

.white-card{
	background: #fff;
	box-shadow: $shadow;
}

.image-card{
	padding: 15px;
	width: 100%;

	img{
		display: block;
		width: 100%;
		height: auto;
	}

	@media screen and (max-width: 575px){
		padding: 6px;
	}
}

.bordered-map{
	padding: 15px;
	width: 100%;
	margin-bottom: 35px;

	&:last-child{
		margin-bottom: 0;
	}

	@media screen and (max-width: 575px){
		padding: 6px;
	}
}