.select-field{
	display: inline-flex;
	cursor: pointer;

	&.fullwidth{
		width: 100%;
	}

	.jcf-select{
		border: 0;
		margin-bottom: 0;
		color: $text-color;
		font-size: 16px;
		height: 44px;
		background: transparent;
		transition: all $t;
		cursor: pointer;
		width: 100%;
		min-width: auto;
		border: 1px solid #bfc7cf;
	}

	.jcf-select-text{
		line-height: 44px;
		margin-right: 44px;
		margin-left: 15px;
		font-size: 16px;
		cursor: pointer;
	}

	.jcf-select-opener{
		width: 44px;
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before{
			content: "";
			display: block;
			width: 12px;
			height: 7px;
			background: url(../img/icons/select-opener.png);
			transition: all $t;
		}
	}

	.jcf-drop-active{
		.jcf-select-opener:before{
			transform: rotate(-180deg);
		}
	}

	.jcf-select-drop{
		z-index: 90;

		.jcf-select-drop-content{
		}
	}

	.jcf-list{
		margin: 5px 0;
		overflow: hidden;
		box-shadow: $shadow;

		li{
			border-bottom: 1px solid #eee;

			&:last-child{
				border-bottom: 0;
			}
		}

		.jcf-option{
			font-size: 14px;
			line-height: 20px;
			padding: 12px 22px;
			color: $text-color;
			cursor: pointer;
			transition: all $t;
			background: #fff;

			&:hover,
			&.jcf-selected{
				color: $primary;
				background: #eee;
			}
		}
	}
}