.main-slider{
	position: relative;
	background: #0d1535;
	margin-bottom: 0 !important;
	height: 714px;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 30px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../img/backgrounds/main-slider-recess.png) no-repeat center bottom;
		z-index: 2;
	}

	.slide{
		padding-top: 65px;
		padding-bottom: 95px;
		height: 714px;
		position: relative;
		overflow: hidden;

		.container{
			position: relative;
			height: calc(714px - 95px - 65px);

			&:after{
				content: '';
				display: block;
				width: 279px;
				height: 205px;
				background: url(../img/backgrounds/dashed-circle.png) no-repeat;
				position: absolute;
				bottom: 0px;
				right: -150px;
				z-index: 5;
			}
		}

		.slide-content{
			width: 554px;
			position: relative;
			z-index: 3;
		}

		.slide-bg{
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-size: cover;
			background-position: center center;

			@media screen and (max-width: 767px){
				background-position: 70% center;
			}
		}
	}

	.slick-arrow{
		&.slick-prev{
			right: calc(100% - 34px - 15px);
		}

		&.slick-next{
			left: calc(100% - 34px - 15px);
		}

		@media screen and (max-width: 991px){
			&.slick-prev{
				right: calc(100% - 34px);
			}

			&.slick-next{
				left: calc(100% - 34px);
			}
		}

		@media screen and (min-width: 1601px){
			&.slick-prev{
				right: auto;
				left: calc(50% - 585px - 195px);
			}

			&.slick-next{
				left: auto;
				right: calc(50% - 585px - 195px);
			}
		}
	}

	.slick-dots{
		bottom: 20px !important;
	}

	@media screen and (max-width: 767px){
		height: 560px;

		.slide{
			height: 560px;

			.container{
				height: calc(560px - 95px - 65px);
			}
		}
	}
}

.slider-features{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 14px);
	margin-left: -7px;
	margin-right: -7px;
	margin-bottom: -14px;
	position: relative;
	width: 100%;
	max-width: 568px;

	@media screen and (max-width: 991px){
		width: calc(220px * 2 + 28px);
	}

	&:before{
		content: '';
		display: block;
		width: 189px;
		height: 279px;
		position: absolute;
		left: -50px;
		top: -50px;
		background: url(../img/backgrounds/green-plus-bg.png);
	}

	.item{
		padding: 0 7px;
		width: 50%;
		margin-bottom: 14px;
	}

	@media screen and (max-width: 767px){
		width: calc(100% + 14px);
		max-width: calc(100% + 14px);

		&:before{
			display: none;
		}

		.item{
			display: flex;
			justify-content: center;
		}
	}
}

.feature-card{
	width: 270px;
	height: 270px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 25px;
	position: relative;
	text-align: center;

	.card-number{
		font-family: $second-font;
		font-size: 36px;
		line-height: 1;
		color: #e2e2e2;
		position: absolute;
		display: block;
		top: 15px;
		left: 25px;
	}

	.card-icon{
		width: 90px;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
		margin-bottom: 10px;
	}

	.card-text{
		// flex: auto;
	}

	@media screen and (max-width: 991px){
		width: 220px;
		height: 220px;
		padding: 25px 15px;

		.card-icon{
			width: 70px;
			margin-bottom: 15px;
		}
	}

	@media screen and (max-width: 767px){
		width: 100%;
		height: auto;
		flex-direction: row;
		align-items: center;
		padding: 35px 25px;
		max-width: 300px;

		.card-number{
			font-size: 18px;
			line-height: 24px;
			top: 10px;
			right: 30px;
			left: auto;
		}

		.card-icon{
			width: 64px;
			height: 70px;
			flex: none;
			margin-bottom: 0;
		}

		.card-text{
			flex: auto;
			text-align: left;
			margin-left: 20px;
		}
	}
}