.project-card{
	padding: 20px 20px 25px;
	display: flex;
	flex-direction: column;
	height: 100%;

	.card-image{
		width: 100%;
		display: block;
		flex: none;
		margin-bottom: 25px;

		&:hover{
			opacity: .8;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.card-content{
		display: flex;
		flex-direction: column;
		flex: auto;
		align-items: flex-start;

		.tpg-note{
			margin-bottom: 15px;
		}

		.card-caption{
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			margin-bottom: 15px;
			text-decoration: underline;
			color: $text-color;

			&:hover{
				color: $accent;
			}
		}

		.excerpt{
			flex: auto;
			margin-bottom: 15px;
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column;

		.card-image{
			width: 100%;
			margin-bottom: 25px;
			height: auto;

			img{
				width: 100%;
			}
		}

		.card-content{
			padding: 0 5px 15px;
		}
	}
}