.product-card{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px 20px 25px;

	.card-image{
		flex: none;
		width: 100%;
		background: #f1f1f1;
		transition: all $t;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;

		&:hover{
			opacity: .7;
		}

		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.card-content{
		.card-caption{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 10px;
			text-decoration: underline;
			display: block;
			font-weight: 600;
			color: $text-color;
			letter-spacing: -0.02em;

			&:hover{
				color: $accent;
			}
		}

		p{
			font-size: 13px;
			line-height: 22px;
			margin-bottom: 6px;
			letter-spacing: -0.02em;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.btn{
			margin-top: 20px;
		}
	}

	&:hover{
		.card-image{
			background: $accent;
		}

		.btn{
			background: $accent;
			color: #fff;
		}
	}
}