.requisites-list{
	display: flex;
	align-items: center;
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;

	> .item{
		padding: 0 15px;
		display: flex;
		align-items: center;
		flex-basis: 100%;

		.item-icon{
			width: 45px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
		}

		.item-content{
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.02em;

			a{
				color: $text-color;
				text-decoration: underline;

				&:hover{
					color: $accent;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		flex-wrap: wrap;

		> .item{
			width: 100%;
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}