.first-screen-section{
	margin-bottom: -30px;
}

.about-section{
	.section-caption{
		padding-top: 15px;
	}
}

.solutions-section{
	padding-top: 85px;
	background: url(../img/backgrounds/solutions-section-bg.jpg) no-repeat center bottom;
	// background-attachment: fixed;
	background-color: #0d1535;

	.solutions-white-content{
		width: 100%;
		max-width: 625px;
		position: relative;
		background: #fff;
		padding: 50px 100px 50px 0;

		&:before{
			content: '';
			display: block;
			width: 50vw;
			height: 100%;
			position: absolute;
			right: 100%;
			top: 0;
			background: #fff;
		}

		&:after{
			content: '';
			width: 34px;
			height: calc(100% - 36px);
			position: absolute;
			top: 18px;
			right: 16px;
			background: url(../img/backgrounds/gray-dots-bg.png);
		}

		.card-caption{
			padding-left: 20px;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 2px;
				height: 100%;
				background: $primary;
				position: absolute;
				left: 0;
				top: 0;
			}

			&:after{
				content: '';
				display: block;
				height: calc(100% - 4px);
				width: 40vw;
				position: absolute;
				right: calc(100% + 40px - 9px);
				top: 7px;
				background: url(../img/backgrounds/gray-plus-bg.png) right top;
			}

			span{
				color: $accent;
			}
		}
	}

	.solutions-purple-content{
		margin-left: 625px;
		width: 100%;
		max-width: 315px;
		padding: 25px 45px 20px;
		color: #fff;
		background: $primary;

		.phone-link{
			color: #fff;
			font-size: 24px;
			line-height: 26px;
			font-weight: 500;
			text-decoration: none;
			margin-bottom: 10px;
			letter-spacing: -0.02em;
			display: inline-block;

			&:hover{
				color: $accent;
			}
		}

		p{
			font-size: 14px;
			line-height: 20px;
			margin: 0;
		}
	}
}