.our-projects-section{
	.projects-descriptions-wrapper{
		width: calc(100% + 115px);
		margin-right: -115px;
	}

	.projects-descriptions-slider{
		width: 100%;
		border: 2px solid $primary;
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 17px;
			height: 30px;
			background: url(../img/backgrounds/arrow-right.png) no-repeat;
			position: absolute;
			top: -16px;
			right: 134px;
		}

		&:after{
			content: '';
			display: block;
			width: 135px;
			height: 12px;
			background: $body-bg;
			position: absolute;
			right: 0;
			top: -7px;
		}

		.slide{
			padding: 35px 155px 45px 40px;

			.short-description{
				max-width: 280px;
			}
		}
	}

	.project-equipment-info{
		margin-bottom: 40px;

		.pei-caption{
			font-size: 11px;
			font-weight: 500;
			color: $text-light;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		a{
			font-size: 14px;
			line-height: 26px;
			color: $text-color;
			text-decoration: underline;
			font-weight: bold;

			&:hover{
				color: $accent;
			}
		}
	}

	.photos-slider{
		position: relative;

		.slide-photo{
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			padding-top: 65.625%;

			@media screen and (max-width: 575px){
				padding-top: 71.4285%;
			}
		}

		&:before{
			content: '';
			display: block;
			width: 118px;
			height: 119px;
			background: url(../img/backgrounds/dashed-triangle.png) no-repeat;
			position: absolute;
			left: -100px;
			bottom: 45px;
			z-index: -1;
		}
	}

	@media screen and (max-width: 991px){
		.projects-descriptions-wrapper{
			width: 100%;
			margin-right: 0;
		}

		.projects-descriptions-slider{
			border-top: 0;

			.slide{
				padding: 25px 20px 30px;
			}

			&:before{
				top: 36px;
				right: -13px;
				width: 24px;
				height: 14px;
				background: url(../img/backgrounds/arrow-top.png) no-repeat;
			}

			&:after{
				width: 12px;
				height: 37px;
				top: 0;
				right: -7px;
			}
		}

		.photos-slider{
			&:before{
				display: none;
			}
		}
	}
}